* {
  background: #32344a80;
  background-alt: #2A3950ff;
  background-inputbar: #2A3950ff;
  foreground: #ff9e64;
  border: #7da6ff;
  border-alt: #45E3FFff;
  selected: #6F88FE1a;
  urgent: #1a1b2680;
}
